body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.section {
  min-height: 30vh;
  display: flex;
  padding: 2rem;
}

.intro {
  min-height: 30vh;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.plot-fixed {
  position: fixed;
  top: 50%; 
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40vw; 
  height: 40vw;
  max-width: 500px;
  max-height: 500px;
  z-index: 10;
  pointer-events: none;
}

.scrolling-text {
  width: 30vw;
  margin-left: 5vw;
  margin-top: 50vh;
}


header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1rem 2rem;
  z-index: 1000;
}
